.section-title {
  font-family: $font-primary;
  font-size: 5rem;
  letter-spacing: 2px;
  line-height: 1;
}

.paragraph {
  font-family: $font-secondary;
  font-size: 1.8rem;

  &--sm {
    font-size: 1.8rem;
  }
}