$font-primary: 'Black Han Sans', sans-serif;
$font-secondary: 'Gothic A1', sans-serif;

$color-dark: #11151C;
$color-light: #F4F5F6;
$color-home-page: #00FFA7;
$color-about-page: #00c9f9;
$color-works-page: #ff00eb;
$color-contact-page: #ff1400;