$font-primary: 'Black Han Sans', sans-serif;
$font-secondary: 'Gothic A1', sans-serif;

$color-dark: #11151C;
$color-light: #F4F5F6;
$color-home-page: #00FFA7;
$color-about-page: #00c9f9;
$color-works-page: #ff00eb;
$color-contact-page: #ff1400;

$shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px 8px rgba(0, 0, 0, 0.1);
$shadow-1: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);